<h1>Your cocktail in detail</h1>
<% @cocktail.doses.each do |dose| %>
  <%= dose.description %>
<%end%>

<%= link_to "All cocktails", cocktails_path %>

<%= link_to "All a dose", new_cocktail_dose_path %>
